.cls1{color:green;
	background-color:green;

}
ul{    list-style-type: none;
    margin: 0;
    padding: 20px;
    
}
li{
    float: left;
}
a{
    display:inhertant;
    color: #000;
    padding: 10px 0px;
    text-decoration: none;
}


h1{color:black;margin-left:auto;margin-right:auto;width:55%;}

}
div.ola {
    margin-left:-1000px;

}
div.image
{
   color:black; margin-left: auto; margin-right:auto;width:30%;
}
h2
{
    color:black;
}


html {
  background: url(/home/user/Desktop/header-bg.jpg);
  background-size: 300px 100px; 
}


div.image2{
     margin-right;
}

.thumb {
  float:left;
  margin-right: 15px
}


    






    