<html> 
	<head>
			<title>
				contact me

  
			</title>
			</head>
	<style>
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}
</style>
</head>
<body>



	</head>
	     <body background="../static/flask/personalwebsite/static/lolo - ola.jpg">	
	
		

<br>
<br>
<br>
<br>
<br>
<br>
<center><p> <font size="15" color="white"><B>Contact me on Social Media</B></font></p></center>
<h1 style="color:white;
			margin-left: auto;
			margin-right: auto;
		width: 50%;">
<br>
<br>
		<a href="https://www.instagram.com"target="_blank"><img src ="../static/17124575_806295442843178_959949184_n.png" width = 180 height = 210</a> 



		  <a href="https://www.facebook.com" target="_blank"><img src ="../static/fb_icon_325x325.png" width = 180 height = 200</a>
	

		<a href="https://www.slack.com"target="_blank"><img src ="../static/slack_alt_icon-icons.com_72013.png" width = 180 height = 210</a>
	
