<html>
	<head>
			<title>
				hobbies

				</title>
			</head>
	<style>
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}
</style>

<body>



	
	 <body background="../static/ola-ola.jpg">	
<br>
<br>
<br>
<br>
<br>
<center><font size="6" color="white"><h1>My Hobbies</h1></font></center>
<br>	  
<br>		
<br>	  
<br>
	  
	<div style="width:47%;float:left;padding-left:20px;">
		<img src ="/home/user/Desktop/13838395_1010883389007650_919157186_o.jpg" width = 450px height = 350px>
	</div>
<br>
<br>
<br>
	<div style="width:51%;height:60%;float:right;;">
		<font size="6" color="green"><b>Climbing</b>:</font>
		<br>
		<br>
		<font color="white"><h2>Are you looking for a great way to get fit without all the suffering and maybe even a little bit of excitement? 
		<br>
		If so, then you should try rock climbing.</h2></font>
	</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
	<div style="width:47%;float:left;padding-left:20px;"> 
 		<img src ="/home/user/Desktop/maxresdefault.jpg" width = 450 height = 320>
 	</div>
<br><br><br><br><br><br>
	<div style="width:51%;height:25%;float:right;;">
		<font size="6" color="green"><b>Reading</b>:</font>
		<br>
		<br>
		<font color="white"><h2>One of my intrests is reading, specailly novels and historical books.
		
		</h2></font>
	</div>

<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>

	<div style="width:47%;float:left;padding-left:20px;"> 
 		<img src ="/home/user/Desktop/olapic2.jpg" width = 450 height = 320>
 	</div>
	
	<div style="width:51%;height:100%;float:right;;">
		<font size="6" color="green"><b>Coding</b>:</font>
		<br>
		<br>
		<font color="white"><h2>I joined code for palestine project to take the chance to enter technology life.
		</h2></font>
	</div>



</body>
</html>