<!DOCTYPE html>
<html>
{% extends "main.html"%}
{%block body%}

	<head>
		<title>
			about me
		</title>
		<link rel="staylesheet" type="text/css" href="main.css">
	</head>
	<style>
body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}
</style>
</head>
<body>

<!-- <div class="navbar">
  <a href="/home/user/Desktop/main page.html">Home</a>
  <a href="/home/user/Desktop/index.html">About me</a>
  <a href="/home/user/Desktop/contact.html">Contact</a>
   <a href="/home/user/Desktop/hobbies.html">Hobbies</a>
</div> -->

	<br>
	<br>
	<br>
	<br>
	<br>
	<body background="/home/user/Desktop/ola-ola.jpg">
	
<BR>
<BR>
<BR>
		<div style="width:35%;float:left;padding-left:20px;"><img src ="/home/user/Desktop/olapic.jpg" width = 450 height = 320></div>
			<BR>
			<BR>
			<BR>
			<BR>	
<font color="white"><h2>My name is Ola Hamad , I am from Palestine-Nablus. 
 I was born in 3rd of September .I am 15 years old . I joined code for palestine project . 
		 </h2></font>
		
		

		
		
	</body>
{%endblock%}


	</html>