<!DOCTYPE html>
<html>
<head>
<style>

body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}
</style>
</head>
<body>

<div class="navbar">
  <a href="../templates/main page.html">Home</a>
  <a href="../templates/index.html">About me</a>
  <a href="../templates/contact.html">Contact</a>
  <a href="../templates/hobbies.html">Hobbies</a>
</div>
{%block body%}{%endblock%}
 <body background="../static/WHAT-IS-ECOMMERCE-WEsssB-DEVELOPMENT.jpg" >
<div class="main"
>
  <br>
  <br>
  <font color="white"><h1>Welcome To Ola Hamad's Website.</h1></font>

  
</div>
</body>
</html>
