<!DOCTYPE html>
<html>
	<head>
	<Link rel="stylesheet" type="text/css" href="main.css">
		
		<title>
			ola website
		</title>
	</head>
	
	<body background="/home/user/Desktop/header-bg.jpg">
				<center><h1> Ola Hamad website</H1></center>

<center><img src ="/home/user/Desktop/olapic.jpg" width = 400 height = 300></center>
<h1>



<ul>

	<li><A href="index.html"><img src ="/home/user/Desktop/speaker-icon.png" width = 200 height = 100></A></li>
	<li><A href="hobbies.html"><img src ="/home/user/Desktop/media.ico" width = 200 height = 100></A><li>

	<li><A href="contact.html"><img src ="/home/user/Desktop/59df1a71ea76f3fcd6a86ad9db6321c5_phone-icon-png-contact-us-contact-clipart-png_3333-4490.png" width = 200 height = 100></A></li>
		
</ul>
		</div>
	</body>
</html>